:root {
  --primary-color: #e60013;
  --second-color: #0e0e0e;
  --colortext: #fefefe;
  --background-button: #fefefe;
  --font-primary-text: "Barlow", Courier, monospace;
  --font-title: "Bangers", Courier, monospace;
  --letter-spacing: 0.2rem;
}

html {
  scroll-behavior: smooth;
}

@supports (scrollbar-width: auto) {
  html {
    scrollbar-color: #e60013 #e60013;
  }
}
@media (prefers-reduced-motion: reduce) {
  button,
  .card {
    animation: none;
    transition: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--colortext);
  font-family: var(--font-title);
  letter-spacing: var(--letter-spacing);
  font-size: 2rem;
}

a:hover {
  color: var(--second-color);
}

.active-link {
  font-weight: bold;
  color: var(--second-color);
}

h1 {
  color: var(--colortext);
  font-family: var(--font-title);
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1rem;
  letter-spacing: var(--letter-spacing);
  padding-top: 3rem;
}
h2 {
  text-align: center;
  font-family: var(--font-title);
  font-size: 3.5rem;
  letter-spacing: var(--letter-spacing);
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}
h3 {
  font-family: var(--font-title);
}
article > p:first-of-type {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
article > p:last-child {
  padding-top: 2rem;
}
article > p {
  font-family: var(--font-primary-text);
  text-align: left;
  line-height: 2rem;
  font-size: 1.125rem;
}
footer > p {
  font-size: 1rem;
}
.listrules {
  font-family: var(--font-primary-text);
}

li {
  line-height: 2.5rem;
  font-size: 1.125rem;
}

button {
  font-family: var(--font-primary-text);
  background-color: var(--background-button);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

button:hover {
  background-color: var(--primary-color);
  color: var(--colortext);
  border-color: var(--second-color);
}

.falsebutton {
  background-color: var(--background-button);
  color: var(--primary-color);
  border-color: var(--primary-color);
  font-family: var(--font-primary-text);
}
.falsebutton:hover {
  background-color: var(--primary-color);
  color: var(--colortext);
  border-color: var(--second-color);
}
footer {
  background-color: var(--primary-color);
  color: var(--colortext);
  padding: 3rem;
  text-align: center;
}
.haut {
  font-size: 1rem;
  color: #ffebec;
}
.burger .line {
  background: var(--colortext);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .link {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }
}
