.card {
  width: 20rem;
  padding: 1rem;
  border-radius: 17px;
  font-size: 1.6rem;
  height: 27rem;
  text-align: center;
  margin: 3rem;
  opacity: 1;
  cursor: pointer;
  margin: auto;
  margin-top: 5rem;
}
.card:hover {
  filter: brightness(87%);
}
.card h3 {
  font-size: 2rem;
  font-style: bold;
  margin: 1rem;
}
.card p {
  font-size: 1.4rem;
}

.container-modal {
  display: flex;
}

.modal {
  width: 40rem;
  padding: 1rem;
  border-radius: 17px;
  font-size: 1.6rem;
  height: 60rem;
  text-align: center;
  opacity: 1;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff6e;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.6px);
  -webkit-backdrop-filter: blur(18.6px);
  border: 1px solid #ffffff4d;
}

.modal img {
  margin: 2rem;
  height: 15rem;
  width: 15rem;
}

.title-modale {
  font-size: 3.5rem;
  margin: 1.5rem;
  scroll-behavior: inherit;
}

.modal p {
  width: 20rem;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  margin: auto;
  font-weight: bold;
}

.modal button {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  text-align: center;
  border-radius: 2rem;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

figcaption {
  padding-top: 1.5rem;
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: bold;
}
